@media screen and (max-width:1300px){
main{
    .hero{
        h2{
        font-size: 45px;
        }
    }
    .hero{
        p{
        font-size: 37px;
        text-align: center;
        }
    }
    .hero{
        button{ 
            a{
            text-align: center;
            font-size: 17px;
            }
        }
    }
}
}

@media screen and (max-width:1150px){
main{
    .hero{
        h2{
        font-size: 45px;
        }
    }
    .hero{
        p{
        font-size: 37px;
        text-align: center;
        }
    }
    .hero{ 
        button{
        margin-bottom: 25px;
        }
    }
    .hero{
        button{
            a{
            text-align: center;
            font-size: 15px;
            }
        }
    }
}
}

@media screen and (max-width:1075px){
main{
    .discografia{
        .album{
        grid-template-columns:repeat(3,1fr);
        }
    }
    .fondoTour{
        .tour{
        margin-right: 200px;
        margin-left: 200px;
        }
    }
    .contactoPrincipal{
        width: 70%;
        height: 70%;
        margin-left: 15%;
    }
}
}


@media screen and (max-width:1000px){
main{
    .hero{
        button{
        opacity: 0;
        }
    }
}
}

@media screen and (max-width:960px){
main{
    .regreso{
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
    .regreso{
        .agotadas p{
        font-size: 30px;
        }
    }
}
}

@media screen and (max-width:950px) {
main{
    .fondoTour{
        .tour{
        font-size:25px ;
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .continentes{
                font-size: 25px;
                }
            }
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .paises{
                font-size: 25px;
                }
            }
        }
    }
}  
}


@media screen and (max-width:900px){
main{
    .merchandising{
    font-size: 25px;
    font-weight: 80px;
    }
    .grid-merch{
        grid-template-columns: repeat(2,1fr) ;
        grid-auto-rows: 220px;
    }
    .discografia{
        .album{
            margin-left:40px ;
            margin-top: 40px;
            margin-right: 40px;
            grid-template-columns:repeat(2,1fr);
        }
    }
}
}



@media screen and (max-width:855px) {
main{
    .hero{
        h2{
        font-size: 40px;
        }
    }
    .hero{
        p{
        font-size: 30px;
        text-align: center;
        }
    }
    .contactoPrincipal{
        width: 520px; 
        height: auto;
    }
    .contactoPrincipal{
        .comentario{
            input{
            width: 390px; 
            height: 35px;
            }
        }
    }
}
}

@media screen and (max-width:800px){
main{
    .fondo-grupo{
        .titulointegrante{
        font-size: 25px;
        font-weight: 60px;
        }
    }
    .fondo-grupo{
        .flex-integrante{
            div{
                p{
                font-size: 100%;
                }
            }
        }
    }
    .discografia{
        .discografiaSecundaria{
        font-size: 25px;
        font-weight: 60px;
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .continentes{
                display: flex;
                flex-direction: column;
                }
            }
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .paises 
                ul{ 
                    li{
                    display: flex;
                    flex-direction: column;
                    }
                }
            }
        }
    }
    .regreso{
        .agotadas{
            p{
            font-size: 25px;
            }
        }
    }    
    
    .grid-merch{
        padding-left: 130px;
    }
}
}

@media screen and (max-width:770px) {
main{
    .contactoPrincipal{
        width: 460px; 
        height: auto;
    }
    .contactoPrincipal{
        .comentario{
            input{
            width: 370px; 
            height: 30px; 
            }
        }
    }
    .regreso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
}



@media screen and (max-width:750px){
main{
    .contactoPrincipal{
        .comentario{
            input{
                width: 370px; 
                height: 30px; 
            }
        }
    }
    .fondoTour{
        .tour{
            h2{
                font-size: 40px;
            }
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .continentes{
                    font-size: 25px;
                }
            }
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .paises{
                    font-size: 23px;
                }
            }
        }
    }
}
}

@media screen and (max-width:700px){
main{
    .merchandising{
        font-size: 20px;
        font-weight: 60px;
    }
    .contactoPrincipal{
        width: 440px; 
        height: auto;
    }
    .contactoPrincipal{
        .comentario{
            input{
            width: 358px; 
            height: 30px;
            }
        }
    }
    .grid-merch{
        padding-left: 120px;
    }
}
}

@media screen and (max-width:650px){
main{
    .regreso img{
        width: 90%;
    }
    .contactoPrincipal{
        width: 400px; 
        height: auto;
    }
    .contactoPrincipal{
        .comentario{
            input{
            width: 308px; 
            height: 30px;
            }
        }
    }
    .regreso{
        .agotadas{
            p{
            font-size: 23px;
            }
        }
    }
    .hero{
        h2{
        font-size: 35px;
        text-align: center;
        }
    }
    .hero{
        p{
        font-size: 25px;
        }
    }
    .hero{
        padding: 0;
    }
}
}

@media screen and (max-width:600px){
.navbar-brand{
    img{
        width: 90px;
        height: 90px;
    }
}
main{
    .contactoPrincipal{
        width: 400px; 
        height: auto;
    }
    .contactoPrincipal{
        .comentario{
            input{
            width: 308px; 
            height: 30px;
            padding-left: 5px;
            }
        }
    }
    .regreso{
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
    .hero{
        h2{
        text-align: left;
        margin: 0 auto;
        }
    }
    .hero{
        p{
        text-align: center;
        }
    }
    .fondoTour{
        .tour{
            h2{
                font-size: 32px;
            }
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .continentes{
                    font-size: 20px;
                }
            }
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .paises{
                    font-size: 17px;
                }
            }
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .paises{
                    ul{
                        li{
                            background-color: $color-principal;
                        }
                    }
                }
            }
        }
    }
}
footer{
    h2{
        img{
            width: 90px;
            height: 90px;
        }
    }
    div{
        a{
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}
}

@media screen and (max-width:550px) {
main{
    .regreso{
        img{
        width: 80%;
        }
    }
    .fondo-grupo{
        .titulointegrante{
            font-size: 20px;
            font-weight: 50px;
        }
    }
    .discografia{
        .discografiaSecundaria{
        font-size: 20px;
        font-weight: 50px;
        }
    }
    .regreso{
        .agotadas{
            p{
            font-size: 18px;
            }
        }
    }
    .contactoPrincipal{
        width: 70%;
        font-size: 70%;
        
    }
    .contactoPrincipal{
        .comentario{
            input{
                width:75%;
            }
            textarea{
                width: 75%;
            }
        }
    }
}
}

@media screen and (max-width:480px){
main{
    .hero{
        h2{
        text-align: center;
        }
    }
    .hero{
        p{
        text-align: center;
        }
    }
}
}


@media screen and (max-width:450px){
main{
    .grid-merch{
    grid-template-columns: 1fr;
    }
    .fondoTour{
        .tour{
            h2{
                font-size: 28px;
            }
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .continentes{
                    font-size: 15px;
                }
            }
        }
    }
    .fondoTour{
        .bloques-tour{
            div{
                .paises{
                    font-size: 13px;
                }
            }
        }
    }
}
}

@media screen and (max-width:400px){
.navbar-brand{
    img{
        width: 80px;
        height: 80px;
    }
}
main{
    .discografia{
        .album{
        margin-left:40px ;
        margin-top: 40px;
        margin-right: 40px;
        grid-template-columns:repeat(1,1fr);
        }
    }
    .hero{
        h2{
        text-align: center;
        }
    }
    .hero{
        p{
        text-align: center;
        }
    }
}
footer{
    h2{
        img{
            width: 80px;
            height: 80px;
        }
    }
    div{
        a{
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}
}



